@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap'); 

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #4d4d4d;
}

@layer base {
  /* Main Header */

  html {
    @apply font-mono
  }

  .main-header { 
    @apply w-full h-16 flex items-center fixed top-0 left-0 bg-shyGreen-400 shadow-md px-1 z-10 md:justify-between
  }
  
  main {
    @apply mt-20
  }

}




.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}