@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #4d4d4d;
}

@layer base {
  html {
    @apply font-mono
  }
  /* Main Header && Navigation */
  .main-header { 
    @apply w-full h-16 flex items-center fixed top-0 left-0 bg-shyGreen-500 shadow-md px-1 z-10 md:justify-between
  }
  
  main {
    @apply mt-20
  }

  .nav-link {
    @apply list-none m-0 p-0 w-full h-full flex flex-col justify-center items-center md:flex-row
  }

  .nav-link a,
  .active {
    @apply text-white p-2 no-underline hover:bg-ivory hover:text-black active:bg-ivory rounded-lg duration-200 focus:bg-ivory focus:text-black ml-4 
  }

  .nav-link button {
    @apply bg-none p-2 cursor-pointer hover:bg-ivory hover:text-black active:bg-ivory rounded-lg duration-200 focus:bg-ivory focus:text-black
  }
  
  /* UI Components */
  .backdrop {
    @apply fixed top-0 left-0 w-full h-screen bg-black opacity-75 z-10
  }

  .modal {
    @apply z-50 fixed top-1/4 left-[10%] w-4/5 bg-white shadow-lg rounded-lg
  }

  .loading-ring {
    @apply block w-[46px] h-[46px] rounded-full m-px border-4 border-solid border-x-shyGreen-500 border-y-body animate-spin
  }

  /* User */
  .user-item {
    @apply m-4 min-w-[280px] bg-black opacity-90
  }

  .user-item a { 
    @apply flex items-center w-full h-full no-underline p-4 text-white bg-black opacity-90
  }

  .user-item a,
  .user-item h2,
  .user-item h3 {
    @apply hover:bg-ivory active:bg-ivory hover:text-shyGreen duration-200
  }

  /* Form Component */
  .button-test {
    @apply py-2 px-6 rounded-md bg-shyGreen-300 text-shyGreen cursor-pointer mr-4 no-underline inline-block focus:outline-none 
  }

  .button-test:hover,
  .button-test:active {
    @apply bg-shyGreen-400 border-shyGreen-400 text-white
  }

  .button-test:disabled,
  .button-test:hover:disabled,
  .button-test:active:disabled {
    @apply bg-disabled text-body border-disabled cursor-not-allowed
  }

  .inverse {
    @apply bg-white opacity-100 border-shyGreen-500 border-solid border-[1px] text-shyGreen hover:text-white hover:bg-shyGreen-400 active:text-shyGreen active:bg-white
  }

  .danger {
    @apply bg-shyGreen-400 border-shyGreen-400 hover:bg-shyGreen-300 hover:border-shyGreen-200
  }

}


.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}